a {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .NavigationBar {
    background-color: whitesmoke;
    overflow: hidden;
  }
  
  .NavigationBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .NavigationBar li {
    flex: 1;
    text-align: center;
  }
  
  .NavigationBar a {
    display: block;
    color: #000;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
  }
}

